.home {

  min-height: 100vh;
  background: linear-gradient(135deg, #eef2ff, #e0e7ff);
  display: flex;
  align-items: center;
  padding: 80px 100px;
}

.home-content {
  display: flex;
  align-items: center;
  gap: 180px;
  flex-wrap: wrap;
  padding: 40px;
}

.text h1 {
  font-size: 36px;
  font-weight: 700;
  color: #1e293b;
}

.text p {
  font-size: 18px;
  margin-top: 10px;
  color: #475569;
}
.profile-img {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid black;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.profile-img:hover {
  transform: scale(1.08) rotate(2deg);
  box-shadow: 0 20px 40px rgba(79, 70, 229, 0.4);
}


@media (max-width: 768px) {
  .home-content {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
}

.btn.primary {
  background-color: #4f46e5;
  color: white;
}

.btn.primary:hover {
  background-color: #4338ca;
}

.btn.secondary {
  border: 2px solid #4f46e5;
  color: #4f46e5;
}

.btn.secondary:hover {
  background-color: #4f46e5;
  color: white;
}

.home-content {
  animation: fadeIn 1.2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.3s;
}