body {
  margin: 0;
  font-family: Arial, sans-serif;
}
section {
  padding: 80px 100px;

}
h1, h2 {
  text-align:center;
}
h2 {
  font-size: 32px;
  color: #111827;
  margin-bottom:20px;
}
ul {
  list-style: none;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
p, li {
  color: #374151;
  font-size: 16px;
} 
.skills-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  cursor: pointer;
}

.skills-list li {
  background-color: #e0e7ff;
  color: #3730a3;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 500;
}
body {
  margin: 0;
  background-color: #f9fafb;
  font-family: "Segoe UI", sans-serif;
}

section:nth-child(even) {
  background-color: #ffffff;
}